backend/__pycache__
backend/__pycache__/*
backend/__pycache__/*.pyc
posters/__pycache__
posters/__pycache__/*
posters/migrations/__pycache__
posters/migrations/__pycache__/*
posters/migrations/__pycache__/*.pyc
db.sqlite3
